In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv("data/LoanStats_securev1_2018Q4.csv",skiprows=1)

C:\Users\zachv\.conda\envs\py38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data1.shape

(128414, 150)

In [4]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.float_format', "{:,.2f}".format)
data1.dtypes.sort_values()

total_rev_hi_lim                              float64
num_op_rev_tl                                 float64
num_il_tl                                     float64
num_bc_tl                                     float64
num_bc_sats                                   float64
num_actv_rev_tl                               float64
num_actv_bc_tl                                float64
num_accts_ever_120_pd                         float64
mths_since_recent_revol_delinq                float64
mths_since_recent_inq                         float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_bc                          float64
mort_acc                                      float64
mo_sin_rcnt_tl                                float64
mo_sin_rcnt_rev_tl_op                         float64
num_rev_accts                                 float64
mo_sin_old_rev_tl_op                          float64
delinq_amnt                                   float64
chargeoff_within_12_mths                      float64
bc_util                                       float64
bc_open_to_buy                                float64
avg_cur_bal                                   float64
acc_open_past_24mths                          float64
inq_last_12m                                  float64
total_cu_tl                                   float64
inq_fi                                        float64
settlement_percentage                         float64
all_util                                      float64
max_bal_bc                                    float64
open_rv_24m                                   float64
open_rv_12m                                   float64
mo_sin_old_il_acct                            float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
settlement_amount                             float64
hardship_last_payment_amount                  float64
hardship_payoff_balance_amount                float64
orig_projected_additional_accrued_interest    float64
hardship_dpd                                  float64
hardship_length                               float64
hardship_amount                               float64
deferral_term                                 float64
sec_app_mths_since_last_major_derog           float64
sec_app_collections_12_mths_ex_med            float64
sec_app_chargeoff_within_12_mths              float64
sec_app_num_rev_accts                         float64
sec_app_open_act_il                           float64
sec_app_revol_util                            float64
sec_app_open_acc                              float64
sec_app_mort_acc                              float64
sec_app_inq_last_6mths                        float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
il_util                                       float64
tax_liens                                     float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_fico_range_low                        float64
sec_app_fico_range_high                       float64
tot_hi_cred_lim                               float64
total_bal_il                                  float64
settlement_term                               float64
open_il_24m                                   float64
total_pymnt                                   float64
out_prncp_inv                                 float64
loan_amnt                                     float64
total_acc                                     float64
funded_amnt                                   float64
revol_bal                                     float64
pub_rec                                       float64
open_acc                                      float64
mths_since_last_record                        float64
total_pymnt_inv                               float64
mths_since_last_delinq                        float64
fico_range_high                               float64
fico_range_low                                float64
mths_since_rcnt_il                            float64
delinq_2yrs                                   float64
dti                                           float64
funded_amnt_inv                               float64
desc                                          float64
installment                                   float64
annual_inc                                    float64
inq_last_6mths                                float64
total_rec_prncp                               float64
out_prncp                                     float64
total_rec_late_fee                            float64
open_il_12m                                   float64
open_act_il                                   float64
open_acc_6m                                   float64
tot_cur_bal                                   float64
tot_coll_amt                                  float64
acc_now_delinq                                float64
total_rec_int                                 float64
dti_joint                                     float64
annual_inc_joint                              float64
policy_code                                   float64
member_id                                     float64
collections_12_mths_ex_med                    float64
last_fico_range_low                           float64
last_fico_range_high                          float64
recoveries                                    float64
last_pymnt_amnt                               float64
collection_recovery_fee                       float64
mths_since_last_major_derog                   float64
hardship_reason                                object
hardship_status                                object
grade                                          object
hardship_start_date                            object
hardship_end_date                              object
int_rate                                       object
debt_settlement_flag                           object
term                                           object
hardship_loan_status                           object
hardship_type                                  object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
payment_plan_start_date                        object
hardship_flag                                  object
earliest_cr_line                               object
emp_title                                      object
verification_status_joint                      object
application_type                               object
last_credit_pull_d                             object
next_pymnt_d                                   object
last_pymnt_d                                   object
initial_list_status                            object
revol_util                                     object
addr_state                                     object
zip_code                                       object
title                                          object
purpose                                        object
url                                            object
sec_app_earliest_cr_line                       object
pymnt_plan                                     object
loan_status                                    object
issue_d                                        object
verification_status                            object
home_ownership                                 object
emp_length                                     object
sub_grade                                      object
id                                             object
dtype: object

In [5]:
#Looking to cut by grade:
data1.grade.value_counts(dropna=False)

A      38011
B      35861
C      31018
D      17072
E       5962
F        387
G        101
NaN        2
Name: grade, dtype: int64

In [6]:
# we have 2 NA grades:
data1[pd.isna(data1.grade)].T

,128412,128413
id,Total amount funded in policy code 1: 2050909275,Total amount funded in policy code 2: 820109297
member_id,NaN,NaN
loan_amnt,NaN,NaN
funded_amnt,NaN,NaN
funded_amnt_inv,NaN,NaN
term,NaN,NaN
int_rate,NaN,NaN
installment,NaN,NaN
grade,NaN,NaN
sub_grade,NaN,NaN
emp_title,NaN,NaN
emp_length,NaN,NaN
home_ownership,NaN,NaN
annual_inc,NaN,NaN
verification_status,NaN,NaN
issue_d,NaN,NaN
loan_status,NaN,NaN
pymnt_plan,NaN,NaN
url,NaN,NaN
desc,NaN,NaN
purpose,NaN,NaN
title,NaN,NaN
zip_code,NaN,NaN
addr_state,NaN,NaN
dti,NaN,NaN
delinq_2yrs,NaN,NaN
earliest_cr_line,NaN,NaN
fico_range_low,NaN,NaN
fico_range_high,NaN,NaN
inq_last_6mths,NaN,NaN
mths_since_last_delinq,NaN,NaN
mths_since_last_record,NaN,NaN
open_acc,NaN,NaN
pub_rec,NaN,NaN
revol_bal,NaN,NaN
revol_util,NaN,NaN
total_acc,NaN,NaN
initial_list_status,NaN,NaN
out_prncp,NaN,NaN
out_prncp_inv,NaN,NaN
total_pymnt,NaN,NaN
total_pymnt_inv,NaN,NaN
total_rec_prncp,NaN,NaN
total_rec_int,NaN,NaN
total_rec_late_fee,NaN,NaN
recoveries,NaN,NaN
collection_recovery_fee,NaN,NaN
last_pymnt_d,NaN,NaN
last_pymnt_amnt,NaN,NaN
next_pymnt_d,NaN,NaN
last_credit_pull_d,NaN,NaN
last_fico_range_high,NaN,NaN
last_fico_range_low,NaN,NaN
collections_12_mths_ex_med,NaN,NaN
mths_since_last_major_derog,NaN,NaN
policy_code,NaN,NaN
application_type,NaN,NaN
annual_inc_joint,NaN,NaN
dti_joint,NaN,NaN
verification_status_joint,NaN,NaN
acc_now_delinq,NaN,NaN
tot_coll_amt,NaN,NaN
tot_cur_bal,NaN,NaN
open_acc_6m,NaN,NaN
open_act_il,NaN,NaN
open_il_12m,NaN,NaN
open_il_24m,NaN,NaN
mths_since_rcnt_il,NaN,NaN
total_bal_il,NaN,NaN
il_util,NaN,NaN
open_rv_12m,NaN,NaN
open_rv_24m,NaN,NaN
max_bal_bc,NaN,NaN
all_util,NaN,NaN
total_rev_hi_lim,NaN,NaN
inq_fi,NaN,NaN
total_cu_tl,NaN,NaN
inq_last_12m,NaN,NaN
acc_open_past_24mths,NaN,NaN
avg_cur_bal,NaN,NaN
bc_open_to_buy,NaN,NaN
bc_util,NaN,NaN
chargeoff_within_12_mths,NaN,NaN
delinq_amnt,NaN,NaN
mo_sin_old_il_acct,NaN,NaN
mo_sin_old_rev_tl_op,NaN,NaN
mo_sin_rcnt_rev_tl_op,NaN,NaN
mo_sin_rcnt_tl,NaN,NaN
mort_acc,NaN,NaN
mths_since_recent_bc,NaN,NaN
mths_since_recent_bc_dlq,NaN,NaN
mths_since_recent_inq,NaN,NaN
mths_since_recent_revol_delinq,NaN,NaN
num_accts_ever_120_pd,NaN,NaN
num_actv_bc_tl,NaN,NaN
num_actv_rev_tl,NaN,NaN
num_bc_sats,NaN,NaN
num_bc_tl,NaN,NaN
num_il_tl,NaN,NaN
num_op_rev_tl,NaN,NaN
num_rev_accts,NaN,NaN
num_rev_tl_bal_gt_0,NaN,NaN
num_sats,NaN,NaN
num_tl_120dpd_2m,NaN,NaN
num_tl_30dpd,NaN,NaN
num_tl_90g_dpd_24m,NaN,NaN
num_tl_op_past_12m,NaN,NaN
pct_tl_nvr_dlq,NaN,NaN
percent_bc_gt_75,NaN,NaN
pub_rec_bankruptcies,NaN,NaN
tax_liens,NaN,NaN
tot_hi_cred_lim,NaN,NaN
total_bal_ex_mort,NaN,NaN
total_bc_limit,NaN,NaN
total_il_high_credit_limit,NaN,NaN
revol_bal_joint,NaN,NaN
sec_app_fico_range_low,NaN,NaN
sec_app_fico_range_high,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN
sec_app_mort_acc,NaN,NaN
sec_app_open_acc,NaN,NaN
sec_app_revol_util,NaN,NaN
sec_app_open_act_il,NaN,NaN
sec_app_num_rev_accts,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN
hardship_flag,NaN,NaN
hardship_type,NaN,NaN
hardship_reason,NaN,NaN
hardship_status,NaN,NaN
deferral_term,NaN,NaN
hardship_amount,NaN,NaN
hardship_start_date,NaN,NaN
hardship_end_date,NaN,NaN
payment_plan_start_date,NaN,NaN
hardship_length,NaN,NaN
hardship_dpd,NaN,NaN
hardship_loan_status,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN
hardship_last_payment_amount,NaN,NaN
debt_settlement_flag,NaN,NaN
debt_settlement_flag_date,NaN,NaN
settlement_status,NaN,NaN
settlement_date,NaN,NaN
settlement_amount,NaN,NaN
settlement_percentage,NaN,NaN
settlement_term,NaN,NaN

In [7]:
# They're just footnotes with no values for all other columns
data2 = data1[~pd.isna(data1.grade)].copy()

In [8]:
#we want to put F and G together
data2["grade2"] = data2["grade"]
data2.loc[data1["grade"].isin(["F","G"]), "grade2"] = "FG"
data2.grade2.value_counts(dropna=False)

A     38011
B     35861
C     31018
D     17072
E      5962
FG      488
Name: grade2, dtype: int64

In [9]:
final_table = pd.DataFrame(index=data2.grade2.unique())
final_table = final_table.sort_index()
final_table

Empty DataFrame
Columns: []
Index: [A, B, C, D, E, FG]

In [10]:
data2.groupby("grade2").loan_amnt.sum()

grade2
A    604,816,200.00
B    591,596,125.00
C    495,916,925.00
D    267,034,700.00
E     83,832,000.00
FG     7,713,325.00
Name: loan_amnt, dtype: float64

In [11]:
final_table["Total Issued"] = data2.groupby("grade2").loan_amnt.sum()
final_table

     Total Issued
A  604,816,200.00
B  591,596,125.00
C  495,916,925.00
D  267,034,700.00
E   83,832,000.00
FG   7,713,325.00

In [12]:
data2.loan_status.value_counts()

Current               94805
Fully Paid            23573
Charged Off            6071
Late (31-120 days)     2582
In Grace Period         881
Late (16-30 days)       496
Default                   4
Name: loan_status, dtype: int64

In [13]:
data2[data2.loan_status == "Fully Paid"].groupby("grade2").loan_amnt.sum()

grade2
A    100,618,700.00
B     93,436,350.00
C     80,649,100.00
D     44,926,850.00
E     16,174,675.00
FG     1,668,325.00
Name: loan_amnt, dtype: float64

In [14]:
final_table["Fully Paid"] = data2[data2.loan_status == "Fully Paid"].groupby("grade2").loan_amnt.sum()
final_table

     Total Issued     Fully Paid
A  604,816,200.00 100,618,700.00
B  591,596,125.00  93,436,350.00
C  495,916,925.00  80,649,100.00
D  267,034,700.00  44,926,850.00
E   83,832,000.00  16,174,675.00
FG   7,713,325.00   1,668,325.00

In [15]:
data2[data2.loan_status == "Current"].groupby("grade2").loan_amnt.sum()

grade2
A    485,245,175.00
B    459,702,350.00
C    362,191,200.00
D    180,795,200.00
E     49,523,000.00
FG     3,906,550.00
Name: loan_amnt, dtype: float64

In [16]:
#We likely need the current amount
data2[data2.loan_status == "Current"].groupby("grade2").out_prncp.sum()

grade2
A    319,179,923.70
B    333,238,892.66
C    270,755,833.64
D    139,940,139.46
E     38,770,773.58
FG     3,272,217.70
Name: out_prncp, dtype: float64

In [17]:
#A little short, maybe using grace period loans as well?
data2[data2.loan_status.isin(["Current","In Grace Period"])].groupby("grade2").out_prncp.sum()

grade2
A    320,372,435.11
B    336,035,184.56
C    274,760,919.88
D    142,663,648.82
E     39,733,448.06
FG     3,337,915.23
Name: out_prncp, dtype: float64

In [18]:
#off by a few dollars, check a few columns to see if they could be the difference
data2[data2.loan_status.isin(["Current","In Grace Period"])].groupby("grade2").delinq_amnt.sum()

grade2
A    13,854.00
B     4,649.00
C    33,957.00
D    12,589.00
E     5,739.00
FG        0.00
Name: delinq_amnt, dtype: float64

In [19]:
data2[data2.loan_status.isin(["Current","In Grace Period"])].groupby("grade2").hardship_amount.sum()

grade2
A      985.45
B    3,472.42
C    6,456.38
D    7,066.51
E    2,668.15
FG       0.00
Name: hardship_amount, dtype: float64

In [20]:
#likely just a rounding error
final_table["Current"] = data2[data2.loan_status.isin(["Current","In Grace Period"])].groupby("grade2").out_prncp.sum()
final_table

     Total Issued     Fully Paid        Current
A  604,816,200.00 100,618,700.00 320,372,435.11
B  591,596,125.00  93,436,350.00 336,035,184.56
C  495,916,925.00  80,649,100.00 274,760,919.88
D  267,034,700.00  44,926,850.00 142,663,648.82
E   83,832,000.00  16,174,675.00  39,733,448.06
FG   7,713,325.00   1,668,325.00   3,337,915.23

In [21]:
data2[data2.loan_status.str.contains("Late")].groupby("grade2").out_prncp.sum()

grade2
A     5,134,582.88
B     9,173,916.60
C    13,022,871.87
D     9,785,213.67
E     4,326,428.61
FG      376,399.95
Name: out_prncp, dtype: float64

In [22]:
# lower rated loans a bit worse, see if late includes defaulted as well
data2[data2.loan_status.str.contains("Late") | (data2.loan_status == "Default")].groupby("grade2").out_prncp.sum()

grade2
A     5,134,582.88
B     9,179,111.00
C    13,036,225.30
D     9,795,590.90
E     4,326,428.61
FG      378,755.61
Name: out_prncp, dtype: float64

In [23]:
final_table["Late"] = data2[data2.loan_status.str.contains("Late") | (data2.loan_status == "Default")].groupby("grade2").out_prncp.sum()
final_table

     Total Issued     Fully Paid        Current          Late
A  604,816,200.00 100,618,700.00 320,372,435.11  5,134,582.88
B  591,596,125.00  93,436,350.00 336,035,184.56  9,179,111.00
C  495,916,925.00  80,649,100.00 274,760,919.88 13,036,225.30
D  267,034,700.00  44,926,850.00 142,663,648.82  9,795,590.90
E   83,832,000.00  16,174,675.00  39,733,448.06  4,326,428.61
FG   7,713,325.00   1,668,325.00   3,337,915.23    378,755.61

In [24]:
data2[data2.loan_status == "Charged Off"].groupby("grade2").loan_amnt.sum()

grade2
A    10,083,075.00
B    22,570,550.00
C    31,491,025.00
D    25,847,775.00
E    11,813,950.00
FG    1,611,225.00
Name: loan_amnt, dtype: float64

In [25]:
data2[data2.loan_status == "Charged Off"].groupby("grade2").loan_amnt.sum() \
- data2[data2.loan_status == "Charged Off"].groupby("grade2").total_pymnt.sum() \
+ data2[data2.loan_status == "Charged Off"].groupby("grade2").total_rec_int.sum() \
+ data2[data2.loan_status == "Charged Off"].groupby("grade2").total_rec_late_fee.sum()

grade2
A     8,463,972.13
B    19,315,342.01
C    26,937,908.13
D    22,203,105.49
E    10,433,630.56
FG    1,418,711.82
dtype: float64

In [26]:
#Grades A, D, and E are matching, the rest are under expected by ~1-2k
data2[data2.loan_status == "Charged Off"].groupby("grade2").collection_recovery_fee.sum()

grade2
A     29,567.78
B    113,764.24
C    247,647.34
D    260,008.48
E     98,248.46
FG    17,488.67
Name: collection_recovery_fee, dtype: float64

In [27]:
# are there any numeric fields where A, D, and E are very low, while B, C, and FG are in the expected range?
data2[data2.loan_status == "Charged Off"].groupby("grade2").sum().T.sort_values("A")

grade2,A,B,C,D,E,FG
member_id,0.00,0.00,0.00,0.00,0.00,0.00
acc_now_delinq,0.00,0.00,0.00,0.00,0.00,0.00
delinq_amnt,0.00,0.00,0.00,"31,593.00",0.00,0.00
num_tl_120dpd_2m,0.00,0.00,0.00,0.00,0.00,0.00
num_tl_30dpd,0.00,0.00,0.00,0.00,0.00,0.00
out_prncp_inv,0.00,0.00,0.00,0.00,0.00,0.00
out_prncp,0.00,0.00,0.00,0.00,0.00,0.00
sec_app_chargeoff_within_12_mths,0.00,5.00,11.00,11.00,8.00,2.00
tax_liens,0.00,0.00,0.00,0.00,0.00,0.00
desc,0.00,0.00,0.00,0.00,0.00,0.00
orig_projected_additional_accrued_interest,0.00,0.00,0.00,0.00,0.00,0.00
chargeoff_within_12_mths,2.00,17.00,13.00,13.00,9.00,2.00
sec_app_collections_12_mths_ex_med,3.00,13.00,24.00,22.00,22.00,1.00
collections_12_mths_ex_med,9.00,25.00,44.00,29.00,16.00,2.00
hardship_length,12.00,18.00,15.00,18.00,3.00,0.00
deferral_term,12.00,18.00,15.00,18.00,3.00,0.00
num_tl_90g_dpd_24m,16.00,68.00,154.00,119.00,55.00,7.00
sec_app_inq_last_6mths,40.00,147.00,181.00,221.00,99.00,33.00
sec_app_mort_acc,55.00,276.00,304.00,290.00,110.00,30.00
pub_rec,76.00,162.00,296.00,223.00,105.00,7.00
pub_rec_bankruptcies,76.00,162.00,296.00,223.00,105.00,7.00
delinq_2yrs,88.00,232.00,511.00,426.00,216.00,18.00
hardship_dpd,95.00,97.00,84.00,75.00,11.00,0.00
sec_app_open_act_il,143.00,429.00,677.00,771.00,458.00,79.00
num_accts_ever_120_pd,222.00,599.00,"1,037.00",856.00,422.00,46.00
inq_last_6mths,283.00,739.00,"1,133.00",988.00,639.00,68.00
hardship_amount,392.90,927.93,"1,010.26","1,806.29",264.26,0.00
open_il_12m,397.00,878.00,"1,540.00","1,309.00",728.00,98.00
sec_app_mths_since_last_major_derog,425.00,"1,738.00","2,812.00","3,337.00","1,666.00",278.00
sec_app_open_acc,534.00,"1,866.00","2,482.00","2,586.00","1,352.00",318.00
open_acc_6m,574.00,"1,297.00","2,123.00","1,743.00",976.00,97.00
hardship_last_payment_amount,599.61,"1,319.31","1,064.43",265.65,454.86,0.00
sec_app_num_rev_accts,602.00,"2,192.00","2,727.00","2,600.00","1,291.00",346.00
policy_code,606.00,"1,277.00","1,835.00","1,493.00",770.00,90.00
inq_fi,660.00,"1,595.00","2,491.00","2,163.00","1,270.00",133.00
open_rv_12m,781.00,"1,797.00","2,822.00","2,141.00","1,138.00",109.00
mort_acc,805.00,"1,595.00","2,056.00","1,555.00",744.00,86.00
total_cu_tl,909.00,"1,838.00","2,817.00","2,353.00","1,083.00",126.00
dti_joint,930.52,"3,117.47","4,452.10","4,805.43","2,574.45",707.16
open_il_24m,951.00,"2,065.00","3,328.00","2,828.00","1,450.00",187.00
inq_last_12m,"1,147.00","2,804.00","4,384.00","3,821.00","2,209.00",257.00
num_tl_op_past_12m,"1,260.00","2,852.00","4,625.00","3,657.00","1,975.00",218.00
open_act_il,"1,448.00","3,308.00","4,623.00","3,892.00","2,097.00",258.00
total_rec_late_fee,"1,538.22","3,507.73","6,201.31","4,836.49","3,291.07",596.92
settlement_term,"1,550.00","2,674.00","2,233.00","1,623.00","1,178.00",42.00
open_rv_24m,"1,662.00","3,709.00","5,898.00","4,410.00","2,279.00",243.00
num_actv_bc_tl,"2,289.00","4,686.00","6,790.00","5,337.00","2,682.00",280.00
sec_app_revol_util,"2,562.40","8,090.00","11,974.80","13,618.30","7,610.00","1,645.10"
acc_open_past_24mths,"2,801.00","6,156.00","9,744.00","7,654.00","3,938.00",453.00
num_actv_rev_tl,"3,220.00","6,841.00","10,283.00","8,187.00","4,079.00",455.00
num_rev_tl_bal_gt_0,"3,224.00","6,787.00","10,191.00","8,098.00","4,027.00",446.00
num_bc_sats,"3,273.00","6,580.00","9,192.00","6,870.00","3,388.00",396.00
mths_since_recent_inq,"4,019.00","7,225.00","10,432.00","8,176.00","3,900.00",459.00
settlement_percentage,"4,079.51","7,372.30","6,435.46","4,217.27","3,317.02",105.00
num_il_tl,"4,573.00","9,791.00","14,738.00","12,338.00","6,236.00",753.00
num_bc_tl,"4,886.00","9,776.00","13,113.00","9,819.00","4,789.00",520.00
mths_since_recent_bc_dlq,"5,174.00","10,093.00","15,785.00","13,489.00","6,884.00",654.00
num_op_rev_tl,"5,245.00","10,894.00","15,687.00","11,803.00","5,824.00",661.00
mths_since_last_major_derog,"5,370.00","13,280.00","21,577.00","18,725.00","10,397.00",800.00
mo_sin_rcnt_tl,"5,434.00","10,270.00","13,758.00","10,651.00","5,220.00",645.00
mths_since_recent_revol_delinq,"6,590.00","12,992.00","21,280.00","18,103.00","9,194.00",976.00
mths_since_last_record,"6,791.00","13,776.00","25,205.00","18,047.00","8,529.00",651.00
num_sats,"7,066.00","14,875.00","21,191.00","16,400.00","8,286.00",957.00
open_acc,"7,071.00","14,901.00","21,230.00","16,438.00","8,299.00",961.00
num_rev_accts,"8,384.00","17,354.00","24,205.00","18,319.00","8,864.00",964.00
mths_since_last_delinq,"8,698.00","19,780.00","30,479.00","25,408.00","13,018.00","1,345.00"
mo_sin_rcnt_rev_tl_op,"8,919.00","17,347.00","23,123.00","19,146.00","9,478.00","1,348.00"
dti,"10,409.78","24,738.39","36,498.87","32,564.76","17,185.27","2,229.34"
percent_bc_gt_75,"11,272.80","33,050.90","59,315.50","60,333.20","32,394.70","4,042.40"
mths_since_rcnt_il,"12,380.00","24,465.00","31,168.00","25,608.00","12,539.00","1,534.00"
total_acc,"13,914.00","29,011.00","41,348.00","32,549.00","15,998.00","1,817.00"
mths_since_recent_bc,"14,895.00","28,617.00","38,696.00","30,533.00","14,465.00","1,985.00"
bc_util,"23,027.40","55,796.60","89,848.20","83,021.60","43,678.00","4,977.10"
all_util,"28,287.00","64,888.00","102,039.00","90,000.00","47,765.00","5,504.00"
collection_recovery_fee,"29,567.78","113,764.24","247,647.34","260,008.48","98,248.46","17,488.67"
il_util,"33,188.00","71,372.00","108,412.00","92,634.00","48,638.00","6,129.00"
sec_app_fico_range_low,"33,435.00","107,630.00","146,925.00","142,490.00","74,515.00","18,145.00"
sec_app_fico_range_high,"33,631.00","108,270.00","147,813.00","143,366.00","74,975.00","18,257.00"
pct_tl_nvr_dlq,"58,257.20","121,519.90","172,865.40","139,746.40","72,314.30","8,454.80"
hardship_payoff_balance_amount,"61,031.19","97,173.81","80,562.90","115,399.77","13,373.40",0.00
mo_sin_old_il_acct,"66,588.00","139,874.00","204,450.00","166,446.00","85,097.00","9,471.00"
tot_coll_amt,"92,561.00","272,771.00","512,862.00","598,622.00","214,550.00","11,874.00"
mo_sin_old_rev_tl_op,"103,728.00","214,429.00","295,328.00","229,365.00","115,806.00","15,649.00"
recoveries,"164,265.47","632,023.55","1,375,818.56","1,444,491.55","545,824.76","97,159.27"
last_pymnt_amnt,"292,745.16","660,736.14","943,565.49","799,543.46","391,516.34","61,376.44"
installment,"297,290.71","643,002.65","911,861.77","790,735.23","401,720.02","54,620.39"
last_fico_range_low,"313,710.00","642,025.00","900,920.00","719,430.00","366,020.00","42,955.00"
last_fico_range_high,"352,764.00","732,768.00","1,036,465.00","835,292.00","427,510.00","50,740.00"
total_rec_int,"355,297.08","1,175,049.02","2,238,373.89","2,346,832.84","1,306,315.57","210,251.94"
fico_range_low,"436,435.00","904,250.00","1,275,660.00","1,028,035.00","530,455.00","62,580.00"
fico_range_high,"438,859.00","909,358.00","1,283,000.00","1,034,007.00","533,535.00","62,940.00"
settlement_amount,"598,236.48","1,079,869.78","932,024.41","559,625.36","455,974.65","31,070.54"
total_rec_prncp,"1,454,837.42","2,623,184.44","3,177,298.30","2,200,177.95","834,494.69","95,353.91"
total_pymnt_inv,"1,975,874.77","4,431,999.18","6,797,413.06","5,996,153.67","2,689,832.92","403,362.04"
total_pymnt,"1,975,938.17","4,433,764.74","6,797,692.07","5,996,338.84","2,689,926.08","403,362.04"
revol_bal_joint,"2,095,599.00","6,410,195.00","8,072,605.00","8,004,428.00","4,253,255.00","1,300,993.00"
max_bal_bc,"3,558,296.00","7,563,715.00","9,610,253.00","7,415,568.00","4,118,111.00","480,989.00"
annual_inc_joint,"6,600,099.00","20,166,270.35","28,171,371.00","26,649,474.58","13,528,751.00","3,291,836.02"
avg_cur_bal,"8,489,895.00","15,777,305.00","20,615,521.00","17,308,255.00","9,429,220.00","931,972.00"
revol_bal,"10,070,411.00","20,922,999.00","27,096,940.00","21,111,182.00","11,631,118.00","1,382,211.00"
funded_amnt_inv,"10,082,775.00","22,562,725.00","31,489,600.00","25,846,850.00","11,813,525.00","1,611,225.00"
loan_amnt,"10,083,075.00","22,570,550.00","31,491,025.00","25,847,775.00","11,813,950.00","1,611,225.00"
funded_amnt,"10,083,075.00","22,570,550.00","31,491,025.00","25,847,775.00","11,813,950.00","1,611,225.00"
bc_open_to_buy,"13,995,104.00","22,135,898.00","22,326,758.00","13,126,311.00","6,199,632.00","870,029.00"
total_bal_il,"19,370,276.00","43,387,845.00","63,443,796.00","55,100,027.00","27,835,977.00","3,639,632.00"
total_bc_limit,"21,160,301.00","37,529,511.00","42,008,402.00","28,129,862.00","14,530,681.00","1,820,250.00"
total_il_high_credit_limit,"25,133,327.00","55,765,324.00","78,737,343.00","68,954,611.00","34,727,218.00","4,357,306.00"
total_rev_hi_lim,"29,324,461.00","53,297,437.00","62,703,058.00","42,948,758.00","21,978,359.00","2,769,391.00"
total_bal_ex_mort,"29,701,640.00","64,279,338.00","90,656,153.00","76,556,356.00","39,714,408.00","5,081,868.00"
annual_inc,"51,854,164.20","104,438,797.27","137,570,021.75","109,753,974.38","58,572,876.32","6,509,615.48"
tot_cur_bal,"87,056,935.00","171,122,042.00","221,522,458.00","178,792,858.00","95,795,767.00","10,239,039.00"
tot_hi_cred_lim,"116,988,575.00","225,314,375.00","282,889,493.00","222,304,127.00","117,372,568.00","12,643,492.00"

In [28]:
# Looked back at non-numeric fields, potential factors could be hardship or payment plans
data2[data2.loan_status == "Charged Off"].groupby("grade2").settlement_status.value_counts()

grade2  settlement_status
A       ACTIVE                74
        COMPLETE               7
        BROKEN                 2
B       ACTIVE               126
        COMPLETE              11
        BROKEN                 9
C       ACTIVE               113
        COMPLETE               9
        BROKEN                 3
D       ACTIVE                65
        BROKEN                10
        COMPLETE               8
E       ACTIVE                53
        BROKEN                 7
        COMPLETE               5
FG      ACTIVE                 2
Name: settlement_status, dtype: int64

In [29]:
data2[data2.loan_status == "Charged Off"].groupby("grade2").hardship_status.value_counts()

grade2  hardship_status
A       BROKEN             4
B       BROKEN             6
C       BROKEN             5
D       BROKEN             6
E       BROKEN             1
Name: hardship_status, dtype: int64

In [30]:
# maybe one of the fields in the calculation are missing for some and there's an imputation I'm not aware of
pd.isna(data2[data2.loan_status == "Charged Off"][["loan_amnt","total_pymnt","total_rec_int","total_rec_late_fee"]]).sum()

loan_amnt             0
total_pymnt           0
total_rec_int         0
total_rec_late_fee    0
dtype: int64

In [31]:
# ok we'll settle for this calculation and can follow up on what's 
# included in net charge off to see if there's something we're missing
final_table["Charged Off (Net)"] = \
data2[data2.loan_status == "Charged Off"].groupby("grade2").loan_amnt.sum() \
- data2[data2.loan_status == "Charged Off"].groupby("grade2").total_pymnt.sum() \
+ data2[data2.loan_status == "Charged Off"].groupby("grade2").total_rec_int.sum() \
+ data2[data2.loan_status == "Charged Off"].groupby("grade2").total_rec_late_fee.sum()
final_table

,Total Issued,Fully Paid,Current,Late,Charged Off (Net)
A,"604,816,200.00","100,618,700.00","320,372,435.11","5,134,582.88","8,463,972.13"
B,"591,596,125.00","93,436,350.00","336,035,184.56","9,179,111.00","19,315,342.01"
C,"495,916,925.00","80,649,100.00","274,760,919.88","13,036,225.30","26,937,908.13"
D,"267,034,700.00","44,926,850.00","142,663,648.82","9,795,590.90","22,203,105.49"
E,"83,832,000.00","16,174,675.00","39,733,448.06","4,326,428.61","10,433,630.56"
FG,"7,713,325.00","1,668,325.00","3,337,915.23","378,755.61","1,418,711.82"

In [32]:
data2.groupby("grade2").total_rec_prncp.sum().round()

grade2
A    270,680,944.00
B    226,434,464.00
C    179,806,053.00
D     90,927,863.00
E     28,792,668.00
FG     2,480,783.00
Name: total_rec_prncp, dtype: float64

In [33]:
# Last calculation likely missing edge cases, off by a lot. This calculation is correct based on final expected table
final_table["Principal Payments Received"] = \
final_table["Total Issued"] - \
final_table["Current"] - \
final_table["Late"] - \
final_table["Charged Off (Net)"]
final_table

,Total Issued,Fully Paid,Current,Late,Charged Off (Net),Principal Payments Received
A,"604,816,200.00","100,618,700.00","320,372,435.11","5,134,582.88","8,463,972.13","270,845,209.88"
B,"591,596,125.00","93,436,350.00","336,035,184.56","9,179,111.00","19,315,342.01","227,066,487.43"
C,"495,916,925.00","80,649,100.00","274,760,919.88","13,036,225.30","26,937,908.13","181,181,871.69"
D,"267,034,700.00","44,926,850.00","142,663,648.82","9,795,590.90","22,203,105.49","92,372,354.79"
E,"83,832,000.00","16,174,675.00","39,733,448.06","4,326,428.61","10,433,630.56","29,338,492.77"
FG,"7,713,325.00","1,668,325.00","3,337,915.23","378,755.61","1,418,711.82","2,577,942.34"

In [34]:
data2.groupby("grade2").total_rec_int.sum().round()

grade2
A    40,954,995.00
B    62,120,597.00
C    68,739,559.00
D    47,314,655.00
E    18,142,306.00
FG    1,947,021.00
Name: total_rec_int, dtype: float64

In [35]:
# Same grades match as with charge offs, still likely an edge case causing small differences
final_table["Interest Payments Received"] = data2.groupby("grade2").total_rec_int.sum()
final_table

,Total Issued,Fully Paid,Current,Late,Charged Off (Net),Principal Payments Received,Interest Payments Received
A,"604,816,200.00","100,618,700.00","320,372,435.11","5,134,582.88","8,463,972.13","270,845,209.88","40,954,995.43"
B,"591,596,125.00","93,436,350.00","336,035,184.56","9,179,111.00","19,315,342.01","227,066,487.43","62,120,597.03"
C,"495,916,925.00","80,649,100.00","274,760,919.88","13,036,225.30","26,937,908.13","181,181,871.69","68,739,558.84"
D,"267,034,700.00","44,926,850.00","142,663,648.82","9,795,590.90","22,203,105.49","92,372,354.79","47,314,654.95"
E,"83,832,000.00","16,174,675.00","39,733,448.06","4,326,428.61","10,433,630.56","29,338,492.77","18,142,305.80"
FG,"7,713,325.00","1,668,325.00","3,337,915.23","378,755.61","1,418,711.82","2,577,942.34","1,947,021.11"

In [36]:
data2.int_rate

0          14.47%
1          22.35%
2          23.40%
3          18.94%
4          10.72%
           ...
128407     15.02%
128408     15.02%
128409     13.56%
128410     11.06%
128411     16.91%
Name: int_rate, Length: 128412, dtype: object

In [37]:
# need to clean to floats
data2["int_rate_float"] = data2.int_rate.str.strip("%").astype(float) / 100
print(data2.int_rate_float.min())
print(data2.int_rate_float.max())

0.06
0.3099

In [38]:
# assuming average interest rate would be balance-weighted
data2["avg_int_numerator"] = data2["int_rate_float"] * data2["loan_amnt"]
data2.groupby("grade2").avg_int_numerator.sum() / data2.groupby("grade2").loan_amnt.sum()

grade2
A    0.07
B    0.11
C    0.15
D    0.20
E    0.25
FG   0.30
dtype: float64

In [39]:
final_table["Avg. Interest Rate"] = data2.groupby("grade2").avg_int_numerator.sum() / data2.groupby("grade2").loan_amnt.sum()
final_table

,Total Issued,Fully Paid,Current,Late,Charged Off (Net),Principal Payments Received,Interest Payments Received,Avg. Interest Rate
A,"604,816,200.00","100,618,700.00","320,372,435.11","5,134,582.88","8,463,972.13","270,845,209.88","40,954,995.43",0.07
B,"591,596,125.00","93,436,350.00","336,035,184.56","9,179,111.00","19,315,342.01","227,066,487.43","62,120,597.03",0.11
C,"495,916,925.00","80,649,100.00","274,760,919.88","13,036,225.30","26,937,908.13","181,181,871.69","68,739,558.84",0.15
D,"267,034,700.00","44,926,850.00","142,663,648.82","9,795,590.90","22,203,105.49","92,372,354.79","47,314,654.95",0.20
E,"83,832,000.00","16,174,675.00","39,733,448.06","4,326,428.61","10,433,630.56","29,338,492.77","18,142,305.80",0.25
FG,"7,713,325.00","1,668,325.00","3,337,915.23","378,755.61","1,418,711.82","2,577,942.34","1,947,021.11",0.30